.App {
  text-align: center;
  width: auto;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.hero {
  background-image: url("./wideScreenBg1.jpg") ;
  overflow: hidden;
  background: linear-gradient(270deg,rgba(7, 0, 0, 0.889),#000104), url("./wideScreenBg1.jpg");  /* Chrome 10-25, Safari 5.1-6 */  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient (180deg, rgb(218, 140, 24), #fff, url("./wideScreenBg1.jpg")); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-repeat: no-repeat;
}
.skills {
  height: auto;
  background: linear-gradient(-180deg, rgb(23, 22, 22), rgb(96, 82, 81));
}
.blog {
  height: 100vh;
  background-color: #100c0d;
}
.contact {
  height: auto;
  color: #cc8b65;
  background-color: #013328;
}
.contactP{
  font-size: 20px;
  font-weight: 500
}
.contactheader{
  font-size: 40px;
  font-weight: 500
}


.link {
  text-decoration: none;
  display: inline;
  padding: 20px 20px;
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
  color: white;
}
.intro{
  font-size: 10px
}

/* scroll to top button */
.top-btn-position {
  position: fixed;
  bottom: 25px;
  right: 20px;
  z-index: 1
  
}

.top-btn-style {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid #333;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}


.top-btn-style:hover {
  animation: none;
  background-color: #333;
  color: #fff;
  border: 2px solid #fff;
}


.fullname  {
    
  font-size: 65px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: start;
}


.based{
  font-size: 30px;
  font-weight: 500;
  position: relative;
  color: #fff;
}

.nkululekomobile  {

  font-size: 65px;
  position: absolute;
  color: #013328;
  text-shadow: #333;
  top:280px;
  right: 20%;
}
.comfortmobile  {

  font-size: 80px;
  position: absolute;
  color: #013328;
  text-shadow: #333;
  top:350px;
  right: 10%;
}
.mzobemobile  {

  font-size: 65px;
  position: absolute;
  color: #013328;
  text-shadow: #333;
  top:420px;
  right: 5%;
}
.versitilemobile{
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  text-align: start;
  position: relative;
  margin-bottom: 50px;


}

.box1{
  top: 150px;
  background: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, 
}
.button1{
  font-size: 24px;
  align-items: center;
}

.skillbackground{
  background: rgba( 218, 19, 19, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 16px );
  -webkit-backdrop-filter: blur( 16px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.skilltitle{
  color: white;
  font-weight: 600;
}
.skillname{
  font-weight: 600;
  color: white;
  font-size: 20px
}
.progress{
  background: linear-gradient(-180deg, rgb(23, 22, 22), rgb(96, 82, 81));
  font-size: 25px;
  font-weight: 700;
  height: 50px;
  border-radius: 20px;
}

.projectimg{
  height: auto
}


@media screen and (max-width: 380px){
  .button1{
    font-size: 20px;
    right: 20%;
    background-color: aqua;
  }
}








@media screen and (max-width: 576px) {
  .hero  {
    height: auto;

    
  }


  .skills {
    height: auto;
  }
  .blog {
    height: auto;
    color: #100c0d 
  }
  
  .link {
    font-size: 55px;
    text-decoration: none;
    display: inline;
    padding: 20px 20px;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
  }

  .based{
      font-size: 20px;
      font-weight: 500;
      color: #d96846;;
  }
  .strive{

      font-size: 20px;
      font-weight: 500;
      position: absolute;
      color: #d96846;
      text-shadow: 5px #333;
      top:500px;
      text-align: center;

  


  }
  .versitilemobile{
    font-size: 20px;
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    color: #fff;
    align-items: center;
    justify-content: center;

}
  .fullname{
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
    top: 5%;
  }
  .button1{    
    position: relative;
    font-size: 30px;
    left: 30%
  }
  .box1{
    top: 10px;
  }
  .but{
    align-items: stretch;
  }

}








@media screen and (min-width: 577px){
  .hero  {
    height: auto;
    background-image: url("./wideScreenBg1.jpg") ;
    overflow: hidden;
    background: linear-gradient(270deg,rgba(7, 0, 0, 0.889),#000104), url("./wideScreenBg1.jpg");  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient (180deg, rgb(218, 140, 24), #fff, url("./wideScreenBg1.jpg")); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    
  }


  .skills {
    height: auto;
  }
  .blog {
    height: auto;

  }
  
  .link {
    font-size: 55px;
    text-decoration: none;
    display: inline;
    padding: 20px 20px;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
  }

  .based{
      font-size: 20px;
      font-weight: 500;
      color: #d96846;;
  }
  .strive{

      font-size: 20px;
      font-weight: 500;
      position: absolute;
      color: #d96846;
      text-shadow: 5px #333;
      top:500px;
      text-align: center;

  


  }
  .versitilemobile{
    font-size: 20px;
    position: relative;
    margin-bottom: 50px;
    color: #fff;
    align-items: center;
    justify-content: center;

}
  .fullname{
    font-size: 50px;
    margin-bottom: 50px;
  }
  .button1{    
    position: relative;
    font-size: 30px;
  }
  .box1{
    top: 10px;
  }
  .but{
    align-items: stretch;
  }

}






@media screen and (min-width: 992px){
  .hero  {
    height: auto;
    background-image: url("./wideScreenBg1.jpg") ;
    overflow: hidden;
    background: linear-gradient(270deg,rgba(7, 0, 0, 0.889),#000104), url("./wideScreenBg1.jpg");  /* Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient (180deg, rgb(218, 140, 24), #fff, url("./wideScreenBg1.jpg")); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
    
  }


  .skills {
    height: auto;
  }
  .blog {
    height: auto;
  }
  
  .link {
    font-size: 175px;
    text-decoration: none;
    display: inline;
    padding: 20px 20px;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
  }

  .based{
      font-size: 20px;
      font-weight: 500;
      color: #d96846;;
  }
  .strive{

      font-size: 20px;
      font-weight: 500;
      position: absolute;
      color: #d96846;
      text-shadow: 5px #333;
      top:500px;
      text-align: center;

  


  }
  .versitilemobile{
    font-size: 20px;
    position: relative;
    margin-bottom: 50px;
    color: #fff;
    align-items: center;
    justify-content: center;
    top:120px;

}
  .fullname{
    position: relative;
    font-size: 50px;
    margin-bottom: 50px;
    top:120px;
  }
  .button1{    
    position: relative;
    font-size: 30px;
    left: 0px;
    top:120px;

  }
  .box1{
    top: 10px;
  }
  .but{
    align-items: center;
  }

}






@media screen and (max-height:576px) {
  .fullname{
    position: relative;
    font-size: 38px;
    margin-bottom: 35px;
    top:60px;
  }
  .versitilemobile{
    font-size:16px;
    position: relative;
    margin-bottom: 25px;
    color: #fff;
    align-items: center;
    justify-content: center;
    top:50px;

}
.button1{    
  position: relative;
  font-size: 30px;
  top:60px;

}
  
}